:root {
  --fondo-body: #f8f8f8;
  --verde-claro: #2fbebc;
  --amarillo: #ffcd00;
  --azul: #003087;
  --rojo: #c8102e;
  --borde: #e7e7e7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

a {
  height: 100%;
  width: auto;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  background-color: var(--fondo-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*HEADER BOX*/

/*SVG LOGO NAV*/
#nav-logo-svg-l1,
#nav-logo-svg-l2 {
  fill: var(--amarillo);
}

#nav-logo-svg-l3 {
  fill: var(--azul);
}

#nav-logo-svg-l4 {
  fill: var(--rojo);
}

.nav-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*background-color: var(--verde-claro);*/
  height: auto;
  width: 100%;
}

.nav-container .nav-box-box-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
  padding: 0 30px;
}

.nav-container .nav-box-logo {
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding: 10px 0;
  flex-grow: 1;
  height: 70px;
  width: auto;
}

.nav-container .nav-box-menu {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-grow: 1;
  height: 70px;
  width: auto;
}

.nav-container .nav-box-menu .button-hamburguer {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-container .nav-box-menu .button-close {
  display: none;
  width: 100%;
  height: 100%;
}

.nav-container .nav-box-text {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 0;
  box-shadow: 0px 0px 0px 4px var(--borde);
  height: 70px;
  width: 100%;
  align-items: center;
}

.box-nav {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-container .nav-box-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.nav-container .nav-box-nav li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-transform: uppercase;
  list-style-type: none;
  align-items: center;
  height: 70px;
  width: auto;
  padding: 0 30px;
  /*border: 4px solid blue;*/
  -webkit-box-shadow: inset 0 0 0 4px var(--borde);
  -moz-box-shadow: inset 0 0 0 4px var(--borde);
  box-shadow: inset 0 0 0 4px var(--borde);
}

.nav-container .nav-box-nav li a{
  width: auto;
  height: auto;
}

/*FOOTER BOX*/
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*background-color: var(--verde-claro);*/
  margin-top: auto;
  width: 100%;
}

.footer-container .footer-box-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
}

.footer-box-social #container-social {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0;
  height: 70px;
  width: auto;
}

.footer-container .footer-box-text {
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: justify;
  font-size: 1rem;
  box-shadow: 0px 0px 0px 4px var(--borde);
}

/*MAIN BOX*/
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
