/* Ezreal - Page*/

/** {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: black;
}

main {
  width: 100vw;
  height: 100vh;
}

section {
  width: 50rem;
  margin: 10rem auto;
  background-color: #0b1625;
  border: 0.5rem white solid;
  border-radius: 4rem;
}

.container figure img {
  max-width: 80%;
  margin-bottom: 2rem;
  border: 0.5rem white solid;
  border-radius: 1rem;
}

.box {
  width: 100%;
}

#caja1 {
  background-color: #002a32;
  padding: 1rem 0 1rem 0;
  position: relative;
  bottom: 3.8rem;
  border: 0.5rem white solid;
  border-radius: 4rem;
  width: 30rem;
  margin-left: 20%;
}

#caja1 h2 {
  font-size: 4rem;
  text-align: center;
  color: #00d6d6;
}

#caja2 {
  padding-bottom: 2rem;
  text-align: center;
}

#caja2 p {
  font-size: 2rem;
  color: white;
}

#caja2 p strong {
  color: #70b8ff;
}

#caja2 p a {
  text-decoration: none;
  color: red;
  text-align: left;
}*/

/* Layout Reto */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: wheat;
}

.header {
  height: 8rem;
  background-color: white;
}

.header picture img {
  height: 100%;
  width: auto;
  padding: 0.5rem 0 0.5rem 2rem;
}

.header picture p {
  font-size: 3rem;
  font-family: fantasy;
  display: inline-block;
  position: absolute;
  padding: 2.5rem 0 0 2rem;
}

.header nav {
  display: inline-block;
  position: absolute;
  right: 0;
}

.header nav ul li {
  display: inline-block;
  text-decoration: none;
  height: 1.8rem;
  width: auto;
  margin: 3.1rem 2rem 0 0;
  background-color: ;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
main {
  display: inline-block;
  background-color: cornflowerblue;
  width: 100vw;
  height: 100vh;
}

.aside {
  background-color: violet;
  width: 20vw;
  height: auto;
  display: inline-block;
}

.aside .post {
  height: 200px;
  margin: 3rem 3rem 3rem 3rem;
  position: relative;
}

.aside .post img {
  position: absolute;
  width: 100%;
  max-height: 200px;
  border-radius: 4rem;
  display: inline-block;
}

.aside .post p {
  display: inline-block;
}

.aside .post p a {
  top: 160px;
  left: 20px;
  position: absolute;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-family: fantasy;
  -webkit-text-stroke: 1px black;
}

.section {
  background-color: purple;
  width: 79vw;
  height: auto;
  display: inline-block;
}