/*p{
    color: blue;
    font-size: 20x;

}*/

/*class*/
/*.parrafo{
    color:red;
    font-size: 40px;
}*/

/*ID*/

/*#texto{
    color:darkblue;
    font-size: 25px;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover{
    color:blue;
}

.main-nav__item a:active{
    color: red;
}

.main-nav__item a::after{
    content: " | ";
}*/

/*h1{
    color: purple;
    font-family: serif;
    margin-bottom: 1rem;;
}
#page-title{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 1.8rem;
    font-family: monospace;
}

.nav{
    margin-top: 1rem;
    list-style-type: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
}

.nav .blog{
    background-color: red;
}

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: black;
}

main {
  width: 100vw;
  height: 100vh;
}

section {
  width: 50rem;
  margin: 10rem auto;
  background-color: #0b1625;
  border: 0.5rem white solid;
  border-radius: 4rem;
}

.container figure img {
  max-width: 80%;
  margin-bottom: 2rem;
  border: 0.5rem white solid;
  border-radius: 1rem;
}

.box {
  width: 100%;
}

#caja1 {
  background-color: #002a32;
  padding: 1rem 0 1rem 0;
  position: relative;
  bottom: 3.8rem;
  border: 0.5rem white solid;
  border-radius: 4rem;
  width: 30rem;
  margin-left: 20%;
}

#caja1 h2 {
  font-size: 4rem;
  text-align: center;
  color: #00d6d6;
}

#caja2 {
  padding-bottom: 2rem;
  text-align: center;
}

#caja2 p {
  font-size: 2rem;
  color: white;
}

#caja2 p strong {
  color: #70b8ff;
}

#caja2 p a {
  text-decoration: none;
  color: red;
  text-align: left;
}