:root {
  --fondo-body: #f8f8f8;
  --verde-claro: #2fbebc;
  --amarillo: #ffcd00;
  --azul: #003087;
  --rojo: #c8102e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

a {
  height: 100%;
  width: auto;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  background-color: var(--fondo-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/*HEADER BOX*/
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--verde-claro);
  height: 70px;
  width: 100%;
}

.nav-container .nav-box-logo {
  display: flex;
  justify-content: left;
  height: 100%;
  padding: 10px 0;
  margin-left: 30px;
  flex-grow: 1;
}

.nav-container .nav-box-menu {
  display: flex;
  justify-content: right;
  height: 100%;
  margin-right: 30px;
  flex-grow: 1;
}

/*SVG LOGO NAV*/
#nav-logo-svg-l1,
#nav-logo-svg-l2 {
  fill: var(--amarillo);
}

#nav-logo-svg-l3 {
  fill: var(--azul);
}

#nav-logo-svg-l4 {
  fill: var(--rojo);
}

/*FOOTER BOX*/
.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--verde-claro);
  margin-top: auto;
  width: 100%;
}

.footer-container .footer-box-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
}

.footer-box-social #container-social {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 20px 0;
  height: 100%;
  width: auto;
}

.footer-container .footer-box-text{
  height: auto;
  width: 100%;
  padding: 20px;
  text-align: justify;
  font-size: 1rem;

}

/*MAIN BOX*/
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
